<div id="<%= dom_id beer_club %>">
  <p>
    <strong>Name:</strong>
    <%= beer_club.name %>
  </p>

  <p>
    <strong>Founded:</strong>
    <%= beer_club.founded %>
  </p>

  <p>
    <strong>City:</strong>
    <%= beer_club.city %>
  </p>
 
  <% if beer_club.members.empty? %>
      No members in <%= beer_club.name %>.
  <% else %>
    <p>Members:</p>
    <ul>
      
      <% beer_club.members.each do |user| %>
      <li>
        <%= user %>
      </li>
      <% end %>
    </ul>
  <% end %>

   <% if beer_club.applicants.empty? %>
      No applications for <%= beer_club.name %>.
  <% else %>
    <p>Applications:</p>
    <ul>
      
      <% @applications.each do |application| %>
      <li>
        <%= application.username %>
        <%= link_to "Approve application", approve_application_membership_path(application.id), data: {turbo_method: "post"}, class: "btn btn-success"  if @current_user_is_member %>
 
      </li>
      <% end %>
    </ul>
  <% end %>

</div>
