<div id="<%= dom_id beer_club %>">
  <p>
    <strong>Name:</strong>
    <%= beer_club.name %>
  </p>

  <p>
    <strong>Founded:</strong>
    <%= beer_club.founded %>
  </p>

  <p>
    <strong>City:</strong>
    <%= beer_club.city %>
  </p>

  <% if beer_club.users.empty? %>
      No members in <%= beer_club.name %>.
  <% else %>
    <p>Members:</p>
    <ul>
      <% beer_club.users.each do |user| %>
      <li>
        <%= user %>
      </li>
      <% end %>
    </ul>
  <% end %>

</div>
