<h1>Beer clubs</h1>
<br>
<%= link_to('New beer club', new_beer_club_path) if current_user %>
<br>

<div id="beer_clubs_sort" style="margin: 2%">
  <h4>Sort  by:</h4>
  
  <ul>
    <li><%= link_to "Name", beer_clubs_path(order: "name")%></li>
    <li><%= link_to "Year", beer_clubs_path(order: "year")%></li>
    <li><%= link_to "City", beer_clubs_path(order: "city")%></li>
  </ul>
  
</div>

<div id="beer_clubs">


  <% @beer_clubs.each do |beer_club| %>

    <div class="card" style="width: 18rem;">
      <div class="card-body">
            <h4 class="card-title"><%= beer_club.name %></h4>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Founded: <%= beer_club.founded %></li>
              <li class="list-group-item">City: <%= beer_club.city %></li>
              <li class="list-group-item">
                Members:
                  <% if beer_club.members.empty? %>
                      No members in <%= beer_club.name %>.
                  <% else %>
                    <ul>
                      <% beer_club.members.each do |user| %>
                      <li>
                        <%= link_to user.username, user %>
                      </li>
                      <% end %>
                    </ul>
                  <% end %>
              </li>
              <li class="list-group-item">
                          <%= link_to "Show this beer club", beer_club, class: "card-link" %>
              </li>
            </ul>
      </div>
    </div>

  <% end %>
</div>

