<h2>Ratings</h2>

<div class="container">

  <div class="row">
    <div class="col-sm-4">

      <h3>Best breweries</h3>
      <table class="table table-hover">
        <tr>
          <% ["Brewery","Average"].each do |attr|%>
            <th><%= attr %></th>
          <% end %>
        <tr>
        <% @top_breweries.each do |brewery| %>
          <tr>
            <td><%= brewery.name %></td>
            <td><%= brewery.average_rating %></td>
          </tr>
        <% end %>
      </table>

    </div>
    
  
    <div class="col-sm-4">

      <h3>Best beers</h3>
      <table class="table table-hover">
        <tr>
          <% ["Beer","Average"].each do |attr|%>
            <th><%= attr %></th>
          <% end %>
        <tr>
        <% @top_beers.each do |beer| %>
          <tr>
            <td><%= beer.name %></td>
            <td><%= beer.average_rating %></td>
          </tr>
        <% end %>
      </table>

    </div>


    <div class="col-sm-4">

      <h3>Best beers</h3>
      <table class="table table-hover">
        <tr>
          <% ["Beer","Average"].each do |attr|%>
            <th><%= attr %></th>
          <% end %>
        <tr>
        <% @top_beers.each do |beer| %>
          <tr>
            <td><%= beer.name %></td>
            <td><%= beer.average_rating %></td>
          </tr>
        <% end %>
      </table>

    </div>

</div>




  <div class="row">
    <h3>Recent ratings:</h3>
    <table class="table table-hover">
        <tr>
          <% ["Beer","Rating", "Rewier", "Time"].each do |attr|%>
            <th><%= attr %></th>
          <% end %>
        <tr>
        <% @recent.each do |rating| %>
          <tr>
            <td><%= link_to rating.beer.name, rating.beer %> </td>
            <td><%= rating.score %></td>
            <td><%= link_to rating.user  %></td>
            <td><%= rating.created_at %></td>
          </tr>
        <% end %>
    </table>
  </div>

</div>
