<h2>Ratings</h2>

<div class="container">

  <div class="row">
    <div class="col-sm-4">
      <%= render "top_table", unit: "Brewery", records: @top_breweries %>
    </div>
    
    <div class="col-sm-4">
      <%= render "top_table", unit: "Beer", records: @top_beers %>
    </div>

    <div class="col-sm-4">
      <%= render "top_table", unit: "Style", records: @top_styles %>
    </div>
    
  </div>

  <div class="row">
    <div class="col-sm-4">
      <h3>Most active users</h3>
      <ol>
        <% @top_raters.each do |user| %>
          <li><%= "#{user.username} with #{user.rating_count} ratings" %></li>
        <% end %>
      </ol>
    </div>
  </div>

  <div class="row">
    <h3>Recent ratings:</h3>
    <table class="table table-hover">
        <tr>
          <% ["Beer","Rating", "Rewier", "Time"].each do |attr|%>
            <th><%= attr %></th>
          <% end %>
        <tr>
        <% @recent.each do |rating| %>
          <tr>
            <td><%= link_to rating.beer.name, rating.beer %> </td>
            <td><%= rating.score %></td>
            <td><%= link_to rating.user  %></td>
            <td><%= rating.created_at %></td>
          </tr>
        <% end %>
    </table>
  </div>

</div>
