<h2>Create new rating</h2>

<%= form_for(@rating) do |f| %>
  <% if @rating.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@rating.errors.count, "error") %> prohibited rating from being saved:</h2>

      <ul>
      <% @rating.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col">
      <%=
        f.select :beer_id,
        options_from_collection_for_select(@beers, :id, :to_s, selected: @rating.beer_id),
        {},
        { :class => "form-select form-select-sm mb-3" }
      %>
     </div>
     <div class="col">
        score: 
        <%= f.number_field :score  %>
     </div>
  </div>
  
  <%= f.submit %>
<% end %>