<div id="<%= dom_id brewery %>">
  
  <h2>
    <%= brewery.name %>  
  </h2>

  <p>
    Established in:
    <i>
      <%= brewery.year%>
    </i>
  </p>

  <p>
    Beer count:
    <%= brewery.beers.count %>
  </p>
  <p>
  <% brewery.beers.each do |beer| %>
    <%= link_to beer.name, beer %>
  <% end %>
  </p>
</div>
