<p style="color: green"><%= notice %></p>

<h1>Beers</h1>

<%= link_to 'List of breweries', breweries_path %>
<%= link_to('New Beer', new_beer_path) if current_user %>
<br>
<div id="beers">
  <table class="table table-hover">
    <tr>
      <% ["Name","Style", "Brewery", "Rating"].each do |attr|%>
        <th><%= link_to attr, beers_path(order: attr.downcase) %></th>
      <% end %>
    <tr>
    <% @beers.each do |beer| %>
      <tr>
          <td>  <%= link_to beer.name, beer %>                      </td>
          <td>  <%= link_to beer.style.name, beer.style  %>         </td>
          <td>  <%= link_to beer.brewery.name, beer.brewery  %>     </td>
          <td>  <%= round(beer.average_rating) if !beer.ratings.empty? %>  </td>
      </tr>
    <% end %>

  </table>

    

</div>
