<h1>Beer places search</h1>

<%= form_with url: places_path, method: :post do |form| %>
  city <%= form.text_field :city %>
  <%= form.submit "Search" %>
<% end %>

<% if @weather %>
  <h3>Beer weather is:</h3>
  <p><%= @weather %></p>
<% end %>

<% if @places %>
  <table>
    <thead>
      <% Place.rendered_fields.each do |field| %>
        <th><%= field %></th>
      <% end %>
    </thead>
    <% @places.each do |place| %>
      <tr>
        <% Place.rendered_fields.each do |field| %>
          <td>
            <%= link_to place.name, place_path(place.id) if field == :name %>
            <%= place.send(field) if field != :name %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </table>
<% end %>


